*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
ol,
ul,
li,
input,
label,
select,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
  font-family: "Kanit", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.btn-one {
  border-radius: 8px;
  color: #fff;
  padding: 14px 24px 16px;
  font-weight: 600;
  font-size: 18px;
  background-color: #000;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-one:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-two {
  border-radius: 8px;
  color: #000;
  padding: 14px 24px 16px;
  border: solid 3px #000;
  font-weight: 600;
  font-size: 18px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-two:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#nav-flex .left {
  width: 37px;
}

#nav-flex .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-flex .right div button {
  border: none;
  background-color: #fff;
}

#nav-flex .right div button a {
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 300;
}

#nav-flex .right div button a span {
  font-size: 11px;
}

#nav-flex .right .sing-up {
  border-radius: 8px;
  color: #fff;
  padding: 14px 24px 16px;
  font-weight: 600;
  font-size: 18px;
  background-color: #000;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#nav-flex .right .sing-up:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#nav-flex .dropdown {
  position: relative;
  display: inline-block;
}

#nav-flex .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 190px;
  border: solid 3px #000;
  z-index: 1;
  left: -22px;
  padding: 16px;
}

#nav-flex .dropdown .dropdown-content a {
  color: #000;
  padding: 8px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: 300;
}

#nav-flex .dropdown .dropdown-content a:hover {
  opacity: 0.5;
}

#nav-flex .dropdown .dropdown-content a:hover {
  opacity: 0.5;
}

#nav-flex .dropdown:hover .dropdown-content {
  display: block;
}

#nav-flex .burger svg {
  height: 32px;
  margin-left: 40px;
}

@media (min-width: 1080px) {
  #nav-flex .burger {
    display: none;
  }
}

@media (max-width: 1080px) {
  #nav-flex .res-navbar {
    display: none;
  }
}

#hero {
  padding: 130px 32px;
}

#hero .main-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .main-t h1 {
  font-size: 110px;
  font-weight: 500;
  text-align: center;
  width: 800px;
  line-height: 1;
}

#hero .p-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto;
}

#hero .p-hero p {
  font-size: 22px;
  font-weight: 300;
  max-width: 500px;
  text-align: center;
}

#hero .buttons-hero {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .buttons-hero .btn-watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .buttons-hero .btn-watch button {
  color: #000;
  padding: 14px 24px 16px;
  font-weight: 600;
  font-size: 22px;
  background-color: #fff;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

#hero .buttons-hero .btn-watch img {
  width: 18px;
  height: 18;
  position: relative;
  left: 18px;
}

@media (max-width: 550px) {
  #hero .buttons-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  #hero .buttons-hero .btn-try {
    max-width: 205px;
  }
}

@media (max-width: 1080px) {
  #hero .main-t h1 {
    font-size: 64px;
  }
}

@media (max-width: 550px) {
  #hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#main-one .img-under-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-one .img-under-hero img {
  position: relative;
  max-width: 1204px;
  margin: 0 auto;
  padding: 32px;
  width: 100%;
  height: 100%;
}

#main-one .flex-flex {
  padding: 48px 24px 0 24px;
}

#main-one .flex-flex .icons-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (77px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 77px);
  max-width: 1200px;
  margin: 0 auto 32px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

#main-one .flex-flex .icons-main img {
  width: 54px;
  height: auto;
}

#main-one .btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 32px 30px 0;
}

#main-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 9fr 6fr;
      grid-template-columns: 10fr 9fr 6fr;
  gap: 48px 32px;
  padding: 48px 32px;
  margin: 0 auto;
  max-width: 1272px;
  height: auto;
  color: #282828;
  margin-top: 20px;
}

#main-two .main-two-1 {
  margin-top: 60px;
}

#main-two .main-two-1 p {
  font-size: 22px;
  padding: 10px 0px;
}

#main-two .main-two-1 h2 {
  font-size: 54px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 46px;
}

#main-two .main-two-1 button {
  margin-top: 20px;
}

#main-two .main-two-2 img {
  display: block;
  margin-bottom: 40px;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-two .main-two-3 img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 800px) {
  #main-two {
    -ms-grid-columns: 5fr 4fr;
        grid-template-columns: 5fr 4fr;
  }
  #main-two .main-two-3 img {
    display: none;
  }
}

@media (max-width: 600px) {
  #main-two {
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
  }
  #main-two .main-two-2 img {
    display: none;
  }
  #main-two .main-two-1 {
    margin-top: 0;
  }
}

#bg-black {
  background-color: #000;
}

#bg-black .black-quote {
  background-color: #000;
  padding: 128px 32px;
  display: -ms-grid;
  display: grid;
  color: #fff;
  -ms-grid-columns: 3fr 6fr;
      grid-template-columns: 3fr 6fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 48px;
  grid-column-gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

#bg-black .black-quote img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 200px;
}

#bg-black .black-quote .text-black {
  max-width: 600px;
}

#bg-black .black-quote .text-black h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

#bg-black .black-quote .text-black p {
  font-size: 22px;
  margin-top: 20px;
}

@media (max-width: 670px) {
  #bg-black .black-quote {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#main-almost-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 9fr;
      grid-template-columns: 10fr 9fr;
  gap: 48px 32px;
  padding: 48px 32px;
  margin: 0 auto;
  max-width: 1272px;
  height: auto;
  color: #282828;
  margin-top: 20px;
}

#main-almost-footer .almost-one {
  margin-top: 60px;
}

#main-almost-footer .almost-one p {
  font-size: 22px;
  padding: 10px 0px;
}

#main-almost-footer .almost-one h2 {
  font-size: 54px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 46px;
}

#main-almost-footer .almost-one button {
  margin-top: 20px;
}

#main-almost-footer .almost-two img {
  display: block;
  margin-bottom: 40px;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1080px) {
  #main-almost-footer {
    -ms-grid-columns: 5fr 4fr;
        grid-template-columns: 5fr 4fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-almost-footer .main-two-3 img {
    display: none;
  }
}

@media (max-width: 800px) {
  #main-almost-footer {
    -ms-grid-columns: 5fr;
        grid-template-columns: 5fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-grid;
    display: grid;
  }
  #main-almost-footer .almost-two {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    /* NEW */
  }
  #main-almost-footer .almost-one {
    margin-top: 0px;
  }
}

@media (max-width: 600px) {
  #main-almost-footer {
    -ms-grid-columns: 4fr;
        grid-template-columns: 4fr;
  }
}

#bg-green {
  background-color: #0fa958;
}

#bg-green .green-quote {
  background-color: #0fa958;
  padding: 128px 32px;
  display: -ms-grid;
  display: grid;
  color: #fff;
  -ms-grid-columns: minmax(auto, 568px) 200px;
      grid-template-columns: minmax(auto, 568px) 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 48px;
  grid-column-gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

#bg-green .green-quote img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 200px;
}

#bg-green .green-quote .text-green {
  max-width: 600px;
  color: #000;
}

#bg-green .green-quote .text-green h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

#bg-green .green-quote .text-green p {
  font-size: 22px;
  margin-top: 20px;
}

@media (max-width: 670px) {
  #bg-green .green-quote {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #bg-green .green-quote .img-green {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    /* NEW */
  }
}

#footer {
  padding: 80px 32px 112px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 48px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

#footer .flex-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .flex-foot h6 {
  font-size: 16px;
  font-weight: 500;
  padding: 6px 0;
}

#footer .flex-foot a {
  font-weight: 16px;
  padding: 6px 0;
  font-weight: 300;
}

#footer .flex-foot a:hover {
  text-decoration: underline;
}

#footer .flex-foot a img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#footer .flex-foot .BIG {
  font-size: 36px;
  font-weight: 400;
  margin-top: -20px;
}

@media (max-width: 800px) {
  #footer {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 6fr;
        grid-template-rows: 6fr;
    grid-auto-flow: row;
  }
  #footer .up-foot {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 670px) {
  #footer {
    grid-auto-flow: row;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #footer .up-foot .text-none p {
    display: none;
  }
}

#footer .up-foot a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */